#resources_container.container{:style => "padding-top: 60px;"}
  %ul#resources

= jquery_template :resourceTemplate do
  %li.resource{:id => "resource_${name}"}
    .heading
      %h2
        %a{:href => "#!/${name}", :onclick => "Docs.toggleEndpointListForResource('${name}');"} ${name}
      %ul.options
        %li
          %a{:href => "#!/${name}", :id => "endpointListTogger_${name}", :onclick => "Docs.toggleEndpointListForResource('${name}');"} Show/Hide
        %li
          %a{:href => "#", :onclick => "Docs.collapseOperationsForResource('${name}'); return false;"}
            List Operations
        %li
          %a{:href => "#", :onclick => "Docs.expandOperationsForResource('${name}'); return false;"}
            Expand Operations
        %li
          %a{:href => "${baseUrl}${path_json}"} Raw
    %ul.endpoints{:id => "${name}_endpoint_list", :style => "display:none"}


= jquery_template :apiTemplate do
  %li.endpoint
    %ul.operations{:id => "${resourceName}_endpoint_operations"}

= jquery_template :operationTemplate do
  %li.operation{:class => "${httpMethodLowercase}", :id => "${resourceName}_${nickname}_${httpMethod}"}
    .heading
      %h3
        %span.http_method
          %a{:href => "#!/${resourceName}/${nickname}_${httpMethod}", :onclick => "Docs.toggleOperationContent('${resourceName}_${nickname}_${httpMethod}_content');"} ${httpMethod}
        %span.path
          %a{:href => "#!/${resourceName}/${nickname}_${httpMethod}", :onclick => "Docs.toggleOperationContent('${resourceName}_${nickname}_${httpMethod}_content');"} ${path_json}
      %ul.options
        %li
          %a{:href => "#!/${resourceName}/${nickname}_${httpMethod}", :onclick => "Docs.toggleOperationContent('${resourceName}_${nickname}_${httpMethod}_content');"} ${summary}
    .content{:id => "${resourceName}_${nickname}_${httpMethod}_content", :style => "display:none"}
      {{if notes}}
      %h4 Implementation Notes
      %p ${notes}
      {{/if}}
      %form.sandbox{"accept-charset" => "UTF-8", :action => "#", :id => "${resourceName}_${nickname}_${httpMethod}_form", :method => "post"}
        %div{:style => "margin:0;padding:0;display:inline"}
        %h4 Parameters
        %table.fullwidth
          %thead
            %tr
              %th Parameter
              %th{:id => "${resourceName}_${nickname}_${httpMethod}_value_header"} Value
              %th Description
          %tbody{:id => "${resourceName}_${nickname}_${httpMethod}_params"}
        .sandbox_header{:id => "${resourceName}_${nickname}_${httpMethod}_content_sandbox_response_header"}
          %input.submit{:id => "${resourceName}_${nickname}_${httpMethod}_content_sandbox_response_button", :name => "commit", :type => "button", :value => "Try it out!"}
          %a{:href => "#", :id => "${resourceName}_${nickname}_${httpMethod}_content_sandbox_response_hider", :onclick => "$('\#${resourceName}_${nickname}_${httpMethod}_content_sandbox_response').slideUp();$(this).fadeOut(); return false;", :style => "display:none"} Hide Response
          %img{:alt => "Throbber", :id => "${resourceName}_${nickname}_${httpMethod}_content_sandbox_response_throbber", :src => "http://swagger.wordnik.com/images/throbber.gif", :style => "display:none"}
      .response{:id => "${resourceName}_${nickname}_${httpMethod}_content_sandbox_response", :style => "display:none"}
        %h4 Request URL
        .block.request_url
        %h4 Response Body
        .block.response_body
        %h4 Response Code
        .block.response_code
        %h4 Response Headers
        .block.response_headers

= jquery_template :paramTemplate do
  %tr
    %td.code ${name}
    %td
      %input{:minlength => "0", :name => "${name}", :placeholder => "${dataType}", :type => "text", :value => ""}
    %td{:width => "500"} ${description}


= jquery_template :paramTemplateJson do
  %tr
    %td.code.required ${modelName}
    %td
      {{html modelHtml}}
    %td.required{:width => "500"} ${description}


= jquery_template :paramTemplateFile do
  %tr
    %td.code.required ${name}
    %td
      %input.required{:minlength => "0", :name => "${name}", :placeholder => "${dataType}", :type => "file", :value => ""}
    %td.required{:width => "500"} ${description}


= jquery_template :paramTemplateSelect do
  %tr
    %td.code ${name}
    %td
      %select{:name => "${name}"}
        {{if required == false }}
        %option{:value => "", :selected => 'selected'}
        {{/if}}
        {{each allowableValues.values}}
        {{if $value == defaultValue && required == true }}
        %option{:value => "${$value}", :selected => 'selected'} ${$value}
        {{else}}
        %option{:value => "${$value}"} ${$value}
        {{/if}}
        {{/each}}

    %td{:width => "500"} ${description}

= jquery_template :paramTemplateRequired do
  %tr
    %td.code.required ${name}
    %td
      %input.required{:minlength => "1", :name => "${name}", :placeholder => "${dataType} (required)", :type => "text", :value => ""}
    %td{:width => "500"}
      %strong ${description}

= jquery_template :paramTemplateRequiredReadOnly do
  %tr
    %td.code.required ${name}
    %td -
    %td{:width => "500"} ${description}

= jquery_template :paramTemplateReadOnly do
  %tr
    %td.code ${name}
    %td -
    %td{:width => "500"} ${description}

= jquery_template :modelTemplate do
  %fieldset{:style => "border: thin solid #333; padding: 1em; margin-bottom: 5px;"}
    %legend ${title}

= jquery_template :modelArrayActionsTemplate do
  .modelArrayActions
    %a{:class => "addArrayItem_${itemPath}"} Add ${propName} item
    %a{:class => "removeArrayItem_${itemPath}", :style => "display: none; float: right;"} Remove last item


= jquery_template :propTemplate do
  .complexTypeProp
    {{if required == true }}
    %span.code.required ${name}
    %div{:style => "display: inline-block;"}
      %input.required{:minlength => "0", :name => "${path}", :placeholder => "${dataType} (required)", :type => "text", :value => ""}
    {{else}}
    %span.code ${name}
    %input{:minlength => "0", :name => "${path}", :placeholder => "${dataType}", :type => "text", :value => ""}
    {{/if}}

= jquery_template :propTemplateSelect do
  .complexTypeProp
    {{if required == true }}
    %span.code.required ${name}
    %select.required{:name => "${path}"}
      {{each allowableValues}}
      %option{:value => "${$value}"} ${$value}
      {{/each}}
    {{else}}
    %span.code ${name}
    %select{:name => "${path}"}
      %option{:value => "", :selected => 'selected'}
      {{each allowableValues}}
      %option{:value => "${$value}"} ${$value}
      {{/each}}
    {{/if}}

